.title,
.paragraph {
	font-family: Roboto Slab, serif;
}

.translate {
	font-family: Garamond, serif;
	font-style: italic;
	font-size: 20px;
}

.title {
	font-weight: 700;
	font-size: 40px;
	letter-spacing: 1.5px;
}

.translate span {
	font-variant: small-caps;
	font-style: normal;
}

.paragraph {
	line-height: 2;
}